<div id="player-component">
  <audio autoplay src="{{onMediaSource}}" type="audio/mpeg" id="audioPlayer">
    Your browser does not support the audio element.
  </audio>
  <br *ngIf="queue != null && !isLive">
  <p *ngIf="queue != null || radioQueue != null">Now Playing: {{nowPlayingLabel | filterFileExtensions}}</p>
  <p *ngIf="queue != null && !isLive">Playlist: {{playlistLabel}}</p>
  <p *ngIf="isLive">Streaming Radio</p>
  <p-button type="button" (click)="stopPlayback()" label="Stop" styleClass="stop-playback-button"
            id="stop-playback-button"/>
  <span class="player-buttons-spacer"></span>
  <p-button type="button" (click)="startRadio()" label="Radio" styleClass="start-radio-button"
            id="start-radio-button"/>
</div>