<div id="player-component">
  <audio autoplay src="{{onMediaSource}}" type="audio/mpeg" id="audioPlayer">
    Your browser does not support the audio element.
  </audio>
  <br *ngIf="queue != null && !isLive">
  <p *ngIf="queue != null || radioQueue != null">Now Playing: {{nowPlayingLabel | filterFileExtensions}}</p>
  <p *ngIf="queue != null && !isLive">Playlist: {{playlistLabel}}</p>
  <p *ngIf="isLive">Streaming Radio</p>
  <p-button type="button" (click)="stopPlayback()" label="Stop" styleClass="stop-playback-button"
            id="stop-playback-button"/>
  <span class="player-buttons-spacer"></span>
  <p-button type="button" (click)="startRadio()" label="Radio" styleClass="start-radio-button"
            id="start-radio-button"/>
  <span *ngIf="queue != null && !isLive">
    <br><br>
    <p-button type="button" (click)="skipBack()" label="-10" size="small" styleClass="stop-playback-button"
              id="skipback-button">
<!--      <i class="pi pi-undo"></i>-->
    </p-button>
    &nbsp;
    <p-button type="button" (click)="playPause()" label="" styleClass="stop-playback-button"
              id="playpause-button">
      <i *ngIf="playPauseLabel == 'Play'" class="pi pi-play"></i>
      <i *ngIf="playPauseLabel == 'Pause'" class="pi pi-pause"></i>
    </p-button>
    &nbsp;
    <p-button type="button" (click)="skipForward()" label="+10" size="small" styleClass="stop-playback-button"
              id="skipforward-button">
    </p-button>
    <br>
    ({{currentMediaPositionLabel}} / {{mediaDurationLabel}})
  </span>
</div>